<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			background-color: #ffe8db; /* hex code for light brown */
			padding: 200px;
		}
		
		h1 {
			color: #b8b7a3;
			font-family: georgia, serif;
			font-size: 140%;
		}
		
		p {
			color: #6b705c;
			font-family: arial, serif;
			font-size: 100%;
		}

		/* Navigation Bar Style */
		.navbar {
		  overflow: hidden;
		  background-color: #6b705c;
		}

		.navbar a {
		  float: left;
		  display: block;
		  color: #6b705c;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		.navbar a:hover {
		  background-color: #6b705c;
		  color: black;
		}

		.active {
		  background-color: #6b705c;
		  color: white;
		}
	</style>
</head>
<body>
	<!-- Navigation Bar HTML -->
	<div class="navbar">
		<a class="active" href="index.html">Home</a>
		<a href="friends.html">Friends</a>
		<a href="work.html">Work</a>
	</div>

	<h1>Heading</h1>
	<p>Paragraph</p>
</body>
</html>
