<!DOCTYPE html>
<html>

<head>
<style>
h1  {
	color: rgb(203,153,126);
	font-family:georgia;
	font-size: 200%;
}
p   {
	color: rgb(203,153,126);
	font-family:arial;
	font-size: 125%;
}
</style>
</head>

<body>
	<h1>This is a heading.</h1>
	<p>This is a paragraph.</p>
</body>

</html>
